ul {
  font-family: "Arvo", sans-serif;
  padding: 20px 0px;
}

li {
  list-style: none
}

.description-box {
  border-radius: 25px;
  border-color: red;
  background-color: rgba( 0, 0, 0, .5);
  color: #fff;
  margin-top: 10px;
  margin: auto;
  width: 75%;
  margin: 20px auto;
  padding: 10px;
  border: 2px white solid;
  font-size: 1.25em;
}

.info-box {
  margin-left: 40px;
  margin-bottom: 20px;
  display: inline-block;
}

.info {
  margin-left: 20px;
}