.filter-section {
    color: #ffffff;
    font-family: "Arvo", sans-serif;
    position: relative;
    background-color: rgba( 0, 0, 0, .5);
    border-radius: 25px;
    width: 80%;
    min-height: 400px;
    max-height: 650px;
    margin: 20px auto;
    h2{
        text-align: center;
        font-size: 3em;
    }
    h3 {
        text-align: center; 
        margin: 10px;
    }
}

.filter-range-section {
    position: relative;
    width: 80%;
    margin: 10px auto;
    input[type="range"] {
        width: 100%;
        margin: 25px auto;
    }
}

.filter-type-section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.filter-area-section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.filter-submit-button {
    font-family: "Arvo", sans-serif;
    font-size: 2em;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: white;
    position: relative;
    bottom: 20px;
    left: 50%;
    background: none;
    transform: translate(-50%, 0);
    outline: none;
    padding: 5px;
    &:hover {
        background-color: #ccc;
    }
    &:disabled {
        background-color: none;
    }
    &:enabled {
        background: #881616de;
    }
}

.hiker-image {
    width: 30px;
    position: absolute;
    left: -30px;
    top: 10px;
}

.container {
    margin: 10px;
    display: block;
    position: relative;
    font-size: 20px;
    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
      }
      .checkmark {
        border-radius: 5px;
        border: 2px solid #ffffff;
        height: 25px;
        width: 100px;
        padding: 5px;
      }
      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
      input:checked ~ .checkmark {
        background-color: #ffffff;
        border: 2px solid #000000;
        color: #000000;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      
  }

  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    &:focus {
        outline: none;
      }
    &::-webkit-slider-runnable-track {
        height: 8.4px;
        cursor: pointer;
        background: repeating-linear-gradient(
            90deg,
            rgb(0, 0, 0),
            rgb(0, 0, 0)10px,
            rgb(255, 255, 255)10px,
            rgb(255, 255, 255) 20px
          );
      }
      &::-webkit-slider-thumb {
        height: 100px;
        width: 50px;
        background-image: url("./assets/mountain.png");
        background-size: 50px;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -30px;
      }
  }