$base-color: #383838;
$font-color: #F8F8FF;

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba( $base-color, .7 );
  font-size: 32px;
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 100;
  text-transform: uppercase;
  font: bold 36px/1 Helvetica, Verdana, sans-serif;
  h1 {
    background-color: #881616de;
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 10px;
  }
}


